# Copy this file to .envrc and fill in your values
# Run `direnv allow` to load environment variables
# These are used for local development with `wrangler dev`

export DISCORD_CLIENT_ID=
export DISCORD_CLIENT_SECRET=
export DISCORD_REDIRECT_URI=http://localhost:8787/api/auth/callback
export DEV_ASSETS_URL=http://localhost:5173
export SESSION_SECRET=
